{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} About Us{% endblock %}</h2>
    <p> 
    Welcome to TechTrends, your number one source for latest news in the cloud-native ecosystem. We're dedicated to providing you the best of articles, with a focus on quality content, vendor agnosticism and cloud-native space. Since it was founded in 2020 by Katie Gamanji, we're working to turn our passion for cloud-native technologies into shareable content. We hope you enjoy our products as much as we enjoy offering them to you.
    </p>
{% endblock %}
