namespace:
  name: demo

replicaCount: 3

image:
  repository: nginx
  tag: alpine
  pullPolicy: IfNotPresent

resources:
  requests:
    CPU: 50m
    memory: 256Mi

service:
  type: ClusterIP
  port: 8111

configmap:
  data: "version: alpine"